h1{
    font-size: 30px;
}

#contact div:last-child{
    padding: 10px 30px;
}

#aboutus{
    width: 95%;
    padding: 0;
}

.appeal span:first-child{
    font-size: 30px;
}

.appeal span:last-child{
    font-size: 50px;
}

#news{
    width: 100%;
}