header{
    flex-direction: column;
    align-items: center;
    display: none;
}

#man{
    width: 85%;
}

input[type=button]{
    height: 70px;
    word-wrap: break-word;
    white-space: normal;
    width: 250px;
}

#menu{
    display: flex;
    flex-direction: column;
}

#consult{
    padding: 0;
}

.consult_form{
    width: 100%;
    padding: 0;
}

.consult_form input[type=text], .consult_form input[type=email]{
    height: 30px;
    font-size: 15px;
    width: 80%;
    padding: 10px;
    margin: 10px;
}

.consult_form textarea{
    font-size: 15px;
    width: 80%;
    height: 100px;
    padding: 10px;
    margin: 10px;
    resize: none;
}

.consult_form input[type=submit]{
    margin: 10px 0;
}

#contact_foot{
    width: 100%;
    margin: 0;
}

#contact_foot p{
    font-size: 20px;
    text-align: center;
    width: 99%;
}

#copy_foot p{
    text-align: center;
    font-size: 20px;
    width: 99%;
}

.newsbox{
    padding: 0;
}