@import url(./fonts.css);

#contact{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("bg1.png");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: Verdana, sans-serif;
    vertical-align: middle;
    text-align: center;
    color: white;
}

input[type=button]{
    background-color: #1d75b7;
    color: white;
    padding: 10px 40px;
    height: 50px;
    font-family: RobotoBold, sans-serif;
    font-size: 15px;
    border: none;
    margin: 30px 0;
}

input[type=button]:hover{
    background-color: #1d75b7;
}

.appeal{
    width: 75%;
    margin: auto;
}

.appeal span:first-child{
    font-size: 30px;
}

.appeal span:last-child{
    font-size: 50px;
}


#aboutus{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 75%;
}

#man{
    background-image: url("./man.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    flex-basis: 575px;
    /*width: 560px;*/
    /*height: 527px;*/
}

#aboutus_info{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-basis: 575px;
    align-items: start;
}

#aboutus_info h2{
    font-size: 20px;
}

#aboutus_info h4{
    margin: 0;
    font-size: 20px;
}

#news_n_articles{
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.8);
}

.newsbox{
    text-align: start;
    background-color: #f9f9f9;
    flex-grow: 1;
    height: 100%;
    padding: 50px;
}

.newsbox:nth-child(2){
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(bg2.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: white;
}

.newsbox a{
    color: #1d75b7;
    font-family: Roboto, serif;
    text-decoration: none;
}

#consult{
    text-align: center;
    padding: 50px;
}

.consult_form{
    text-align: center;
    font-family: RobotoBold, sans-serif;
    width: 50%;
    margin: auto;
}

.consult_form h2{
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.consult_form table {
    margin: auto;
}

.consult_form input[type=text], .consult_form input[type=email]{
    height: 30px;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
    margin: 5px;
}

.consult_form textarea{
    font-size: 15px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.7);
    color: white;
    height: 100px;
    margin: 5px;
    resize: none;
}

.consult_form input[type=text]::placeholder,
.consult_form input[type=email]::placeholder,
.consult_form textarea::placeholder{
    color: rgba(0, 0, 0, 0.7);
}

.consult_form input[type=submit]{
    background-color: #1d75b7;
    width: 300px;
    height: 50px;
    font-family: RobotoBold, sans-serif;
    font-size: 25px;
    border: none;
    color: #ffffff;
}

.consult_form input[type=submit]:hover{
    background-color: #e7e7e7;
    color: #0f3273;
}