h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

#logo{
    margin: 10px;
    font-size: 40px;
    display: none;
}

#phone{
    display: none;
}

#head-num{
    display: none;
}

#menu{
    margin: 10px;
}

#menu a{
    font-size: 25px;
}

#contact{
    flex-direction: column;
}

#appeal_cover{
    height: 100%;
    width: 100%;
    align-items: center;
}

#consult{
    flex-direction: column;
}

.consult_form{
    width: 100%;
}

.consult_form h2{
    max-width: 90%;
    margin: 20px auto;

}

.consult_form input[type=text], .consult_form input[type=email]{
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.consult_form textarea{
    font-size: 20px;
    padding: 10px;
    height: 100px;
    margin: 5px;
}

.consult_form input[type=submit]{
    height: 50px;
    font-size: 20px;
    margin: 15px;
}

#div3{
    text-align: center;
    width: 100%;
    padding: 0;
    padding-top: 20px;
}

#block1{
    flex-direction: column-reverse;
}

#block2{
    flex-direction: column;
}

#aboutus1, #aboutus2{
    width: 100%;
}

#man1, #man2{
    height: 300px;
    width: auto;
}

#contact_foot{
    padding: 0;
}

.logo{
    font-size: 25px;
}

footer p{
    font-size: 25px;
}

footer li{
    display: list-item;
    padding: 5px 0;
    border: none;
    font-size: 25px;
}

footer a{
    font-size: 15px;
}

#copy_foot{
    margin: auto;
}

#copy_foot p{
    font-size: 15px;
}

@media all and (max-width: 800px){
    .hds{
        font-size: 25px;
    }
}