@import url(./fonts.css);

footer{
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
}

footer li{
    list-style-type: none;
    display: inline;
    padding: 0 20px;
    border-right: 1px solid white;
    font-size: 15px;
}

footer li:last-child{
    border: none;
}

footer a{
    color: #b3b3b3;
    font-size: 15px;
    text-decoration: none;
}

#contact_foot{
    padding: 50px;
    border-bottom: 1px solid #3d3d3d;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.logo{
    color: #666666;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #3d3d3d;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    padding: 5px 10px;
}

#contact_foot p{
    display: inline-block;
    width: 400px;
    color: #b3b3b3;
    border-left: 1px solid #f4762a;
    padding-left: 5px;
}

#contact_foot .hds{
    display: block;
    color: white;
}

#contact_foot p span:first-child{
    font-size: 25px;
}

#contact_foot p span:last-child{
    font-size: 15px;
}

#copy_foot{
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}