@import url(./fonts.css);

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header a{
    text-decoration: none;
    color: #0d2e69;
}

header a:visited{
    color: #0d2e69;
}

header a:hover{
    color: #0d2e69;
}

header a:active{
    color: #0d2e69;
}

header{
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
}

#logo{
    color: #0d2e69;
    border: solid 2px #0d2e69;
    padding: 10px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
}

#menu_bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #0d2e69;
}

#head-num{
     display: flex;
}

#head-num div:first-child{
    font-size: 10px;
    width: 100px;
    text-align: end;
    padding-right: 5px;
}

#head-num div:last-child{
    font-size: 20px;
    font-weight: bold;;
}

#menu a{
    font-family: Roboto, sans-serif;
    padding: 5px;
    font-size: 15px;
}