@import url(./fonts.css);

#contact{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("./back1.png");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    display: flex;
    font-family: Playfair, sans-serif;
    justify-content: space-around;
    align-items: center;
}

#contact div:first-child{
    color: white;
}

#contact div:last-child{
    background-color: #0d2e69;
    padding: 30px;
    /*margin: 100px 0;*/
}

input[type=button]{
    background-color: #0d2e69;
    color: white;
    padding: 10px 40px;
    height: 50px;
    font-family: RobotoBold, sans-serif;
    font-size: 15px;
    border: none;
    margin: 30px 0;
}

input[type=button]:hover{
    background-color: #0c285b;
}

.appeal span:first-child{
    font-size: 30px;
}

.appeal span:last-child{
    font-size: 50px;
}

.consult_form span:first-child{
    font-size: 30px;
}

.consult_form span:last-child{
    font-size: 20px;
}

.consult_form{
    text-align: center;
    font-family: RobotoBold, sans-serif;
}

.consult_form p{
    color: white;
    margin-bottom: 20px;
}

.consult_form input[type=text], .consult_form input[type=email], .consult_form input[type=tel]{
    height: 40px;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    background-color: #0d2e69;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: white;
    margin: 5px;
}

.consult_form textarea{
    font-size: 20px;
    padding: 10px;
    min-width: 400px;
    background-color: #0d2e69;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: white;
    height: 100px;
    margin: 5px;
    resize: none;
}

.consult_form input[type=text]::placeholder,
.consult_form input[type=email]::placeholder,
.consult_form input[type=tel]::placeholder,
.consult_form textarea::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.consult_form input[type=submit]{
    background-color: white;
    width: 300px;
    height: 50px;
    font-family: RobotoBold, sans-serif;
    font-size: 25px;
    border: none;
    color: #0d2e69;
}

.consult_form input[type=submit]:hover{
    background-color: #e7e7e7;
    color: #0f3273;
}




#aboutus{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    /*flex-wrap: wrap;*/
}

#man{
    background-image: url("./man.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;
    flex-basis: 575px;
    /*width: 560px;*/
    /*height: 527px;*/
}

#aboutus_info{
    display: flex;
    flex-direction: column;
    width: 45%;
    flex-basis: 575px;
    align-items: start;
}

#div3{
    padding: 40px 0;
}

#div3, #testimonials{
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
    background-color: #0d2e69;
}

#div3 h1{
    margin: 10px;
}

#div3 a{
    color: white;
    margin: 10px;
}

#testimonials{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("./back2.png");
    background-repeat: no-repeat;
    background-position: center;
    /*padding-top: 40px;*/
    /*padding: 40px;*/
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

#testimonials h1{
    margin: 0;
    /*padding-top: 40px;*/
}

#testimonials p{
    font-family: RobotoThin, sans-serif;
    width: 75%;
    margin: 20px auto;
}

#testimonials a{
    color: white;
    background-color: #0d2e69;
    padding: 5px;
}

#news_n_articles{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#news{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
}

.newsbox{
    width: 360px;
    text-align: start;
    padding: 10px;
}

.newsbox p{
    font-family: Roboto, serif;
}

#news img{
    width: 360px;
}

#news h3{

}