@import url(./fonts.css);

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

header a:visited{
    color: rgba(0, 0, 0, 0.8);
}

header a:hover{
    color: rgba(0, 0, 0, 0.8);
}

header a:active{
    color: rgba(0, 0, 0, 0.8);
}

.menu_trig{
    text-align: center;
    display: none;
    height: 70px;
    line-height: 70px;
}

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    width: 75%;
    margin: auto;
}

#logo{
    color: rgba(0, 0, 0, 0.8);
    border: solid 2px rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
}

#menu_bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.8);
}

#menu a{
    font-family: Roboto, sans-serif;
    padding: 5px;
    font-size: 15px;
}